<!DOCTYPE html>
<html>
  <head>
    <title>Henkan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="title"><a href='/'>ローマ字変換</a></h1>
          <a class="change" href="/romazis/new">変換する</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    <p>Copylight Henkan 2020.</p>
    </footer>
  </body>
</html>
